<h1>Books</h1>

<% @books.each do |book| %>
  <div class="article">
    <h2><%= link_to book.title, book %></h2><br />
    <%= pluralize(book.quotes.size, "Quotation") %><br />
    <%= image_tag book.image_url(:thumb).to_s %>
  </div>
<% end %>

<p><%= link_to 'New Book', new_book_path %></p>